# Created by .ignore support plugin (hsz.mobi)
/.idea/
/base/target/
/center/target/
/config/target/
/consumer/consumer-wechat/target/
/provider/provider-wechat/target/
/route/target/
.gitignore
.idea/workspace.xml
base/src/main/java/com.wuwei.base/model/
base/src/main/resources/
base/src/test/
base/target/
center/src/test/
center/target/
config/src/test/
config/target/
consumer/consumer-wechat/src/test/
consumer/consumer-wechat/target/
consumer/src/
provider/provider-wechat/src/test/
provider/provider-wechat/target/
provider/src/
route/src/test/
route/target/
src/
