# Created by .ignore support plugin (hsz.mobi)
/.idea/
/base/target/
/center/target/
/config/target/
/consumer/consumer-wechat/target/
/provider/provider-wechat/target/
/route/target/
.gitignore
.idea/workspace.xml
/target/
/config/src/main/resources/config/common-prod.properties
/config/src/main/resources/config/consumer-quartz-prod.properties
/config/src/main/resources/config/provider-jd-prod.properties
/config/src/main/resources/config/route-prod.properties
/config/src/main/resources/config/provider-wechat-prod.properties
/config/src/main/resources/config/consumer-jd-prod.properties
/config/src/main/resources/config/consumer-wechat-prod.properties
/config/src/main/resources/config/provider-quartz-prod.properties
