<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuwei.provider.wechat.mapper.XiLeWangHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.wuwei.base.wechat.model.XiLeWangHistory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
    <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="stay_time" property="stayTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sku_id, sku_name, openid, create_time, stay_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from xilewang_history
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="com.wuwei.base.wechat.model.XiLeWangHistory" >
    insert into
    xilewang_history (id, sku_id, sku_name, openid, create_time, stay_time)
    values (#{id,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{skuName,jdbcType=VARCHAR},
      #{openid,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{stayTime,jdbcType=BIGINT})
  </insert>

  <insert id="insertSelective" parameterType="com.wuwei.base.wechat.model.XiLeWangHistory" >
    insert into xilewang_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="skuName != null" >
        sku_name,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="stayTime != null" >
        stay_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="skuName != null" >
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="stayTime != null" >
        #{stayTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.wuwei.base.wechat.model.XiLeWangHistory" >
    update xilewang_history
    <set >
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="skuName != null" >
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="stayTime != null" >
        stay_time = #{stayTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.wuwei.base.wechat.model.XiLeWangHistory" >
    update xilewang_history
    set sku_id = #{skuId,jdbcType=BIGINT},
      sku_name = #{skuName,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      stay_time = #{stayTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>